.week-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    margin-bottom: 32px;
}

.week-title {
    margin: 0;

    color: #57B9FF;

    font-size: 2rem;
    font-weight: 700;
}

.week-title-link {
    text-decoration: none;
    color: inherit;
}

.week-title-link:hover .week-title {
    color: #57B9FF;
    transition: .2s ease;
}


.week-navigation {
    display: flex;
    align-items: center;
    gap: 40px;
}

.week-nav-button {
    display: flex;
    align-items: center;
    gap: 6px;

    background: transparent;
    border: none;

    color: white;

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;

    transition: opacity 0.2s;
}

.week-nav-button:hover {
    color: #57B9FF;
}

.week-nav-button:first-child {
    margin-left: -36px;
}

.week-range {
    min-width: 180px;

    text-align: center;

    color: #d4d4d4;

    font-size: 1.05rem;
    font-weight: 600;
}