.week-table-container {
  width: 100%;

  overflow-x: auto;

  border-radius: 18px;

  background: #1d1d1d;
}

.week-table {
  width: 100%;

  border-collapse: collapse;
}

.day-column {
  width: 90px;
  min-width: 90px;
  max-width: 90px;
  padding: 4px 2px;
}

.week-table th,
.week-table td {
  padding: 16px 2px;

  text-align: center;

  color: white;
}

.week-table th {
  font-size: 1rem;
  font-weight: 700;
}

.week-table td {
  font-size: 0.95rem;
}

.week-table tbody tr:hover {
  background: rgba(255, 255, 255, 0.015);
}

.week-table th.current-day-column {
  color: #57b9ff;

  border-bottom: 1px solid #57b9ff;
}

.current-day-column,
.current-day-cell {
  background: rgba(87, 185, 255, 0.08);
}

.current-day-column {
  color: #57b9ff;
  font-weight: 700;
}
