.skeleton {
    background: #2a2a2a;

    border-radius: 6px;

    animation: skeleton-loading 1.4s ease infinite;
}


.skeleton-header {
    height: 14px;
    width: 35px;
    margin: auto;
}


.skeleton-habit {
    height: 16px;
    width: 100px;
}


.skeleton-small {
    height: 16px;
    width: 45px;
    margin: auto;
}


.skeleton-cell {
    height: 28px;
    width: 45px;
    margin: auto;
}


@keyframes skeleton-loading {

    0% {
        opacity: .45;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .45;
    }

}