.habit-card {
  position: relative;

  background: #1d1d1d;

  border: 1px solid #2b2f36;

  border-radius: 1rem;

  padding: 1.25rem;

  display: flex;
  flex-direction: column;

  min-height: 120px;

  transition: transform 0.15s ease, border-color 0.2s ease;
}

.habit-card:hover {
  transform: translateY(-2px);

  border-color: #57b9ff;

  z-index: 20;
}

/*
      Header
  */

.habit-card-top {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 1rem;
}

.habit-card-top h2 {
  margin: 0;

  font-size: 1.35rem;

  font-weight: 600;

  color: #57b9ff;
}

/*
      Menu
  */

.habit-menu-container {
  position: relative;
}

.icon-button {
  display: flex;

  justify-content: center;

  align-items: center;

  width: 34px;

  height: 34px;

  background: transparent;

  border: none;

  border-radius: 8px;

  color: #9ca3af;

  cursor: pointer;

  transition: 0.2s;
}

.icon-button:hover {
  background: #2b2f36;

  color: white;
}

.habit-menu {
  position: absolute;

  top: 42px;

  right: 0;

  width: 170px;

  background: #1f2329;

  border: 1px solid #343943;

  border-radius: 12px;

  overflow: hidden;

  z-index: 999;

  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
}

.habit-menu button {
  display: flex;

  align-items: center;

  gap: 10px;

  width: 100%;

  padding: 12px 16px;

  background: transparent;

  border: none;

  color: white;

  cursor: pointer;

  font-size: 0.95rem;
}

.habit-menu button:hover {
  background: #2d333b;
}

.habit-menu .danger {
  color: #ef4444;
}

/*
      Main content
  */

.habit-card-content {
  margin-top: 0.25rem;
}

.habit-description {
  color: #d4d4d8;

  line-height: 1.5;

  font-size: 0.95rem;

  margin: 0;

  max-width: 90%;
}

/*
      Footer
  */

.habit-footer {
  display: flex;

  justify-content: space-between;

  align-items: flex-end;

  margin-top: 0.75rem;
}

.habit-meta {
  color: #9ca3af;

  font-size: 0.85rem;
}

.habit-time {
  color:rgb(255, 255, 255);

  font-size: 0.9rem;

  font-weight: 500;

  cursor: pointer;

  user-select: none;

  transition: color 0.15s ease;
}

.habit-time:hover {
  color: rgb(72, 144, 227);
}
