.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 72px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  padding: 0 38px;

  background: #0f0f10;

  color: white;

  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);

  z-index: 1000;
}

.navbar-links {
  display: flex;
  gap: 42px;
}

.navbar-logo {
  justify-self: start;
}

.navbar-logo a {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #57b9ff;
  text-decoration: none;

  font-size: 1.4rem;
  font-weight: 700;

  letter-spacing: 0.5px;
  transition: 0.2s ease;
}

.navbar-logo a:hover span {
  color: #57b9ff;
}

.navbar-logo-icon {
  width: 30px;
  height: 30px;
}

.navbar-user a {
  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
}

.navbar-user a:hover {
  color: #57b9ff;
  transition: 0.2s;
}

.navbar-user a.active {
  color: white;
}

.navbar-links {
  display: flex;
  gap: 42px;
}

.navbar-links a {
  color: #ffffff;

  text-decoration: none;

  font-size: 0.98rem;

  font-weight: 500;

  transition: 0.2s ease;
}

.navbar-links a:hover {
  color: #57b9ff;
}

.navbar-links a.active {
  color: #57b9ff;
}

.navbar-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  cursor: pointer;

  color: white;
}
